*{
    margin:0;
    padding:0;
}
button{
    color:#fff;
    width:150px;
    height:60px;
    border:none;
    border-radius:20px;
    background-color:blue;
    font-weight:bold;
    cursor:pointer;
    font-size:20px;
}
.container{
    height:100%;
    width:100%;
    width:auto;
    text-align:center;
    line-height:50px;
    padding:10px;
}
lable{
    font-size:20px;
    margin-right:20px;   
}
#ans{
    font-size:35px;
    color:red;
    
}